
{% extends "base.html" %}
{% block content %}

<div class="container my-4">
    <div class="card shadow-sm">
        <div class="card-header text-center bg-primary text-white">
            <h2 class="mb-0">Seguimiento del Pedido</h2>
        </div>
        <div class="card-body">
            <div class="row mb-3">
                <div class="col-md-6">
                    <p><strong>Estado del pedido:</strong> {{ pedido.estado }}</p>
                    <p><strong>Estado del pago:</strong> {{ pedido.estado_pago }}</p>
                </div>
                <div class="col-md-6">
                    <p><strong>Cliente:</strong> {{ pedido.cliente_nombre }}</p>
                    {% if pedido.fecha_solicitada %}
                        <p><strong>Fecha solicitada:</strong> {{ pedido.fecha_solicitada }}</p>
                    {% endif %}
                </div>
            </div>

            <div class="mb-3">
                <p><strong>Descripción solicitada:</strong></p>
                <p class="text-muted">{{ pedido.descripcion }}</p>
            </div>

    
            <h4 class="mb-3">Imágenes de referencia</h4>
            <div class="d-flex flex-wrap">
                {% for img in imagenes %}
                     <div class="me-3 mb-3">
                        <img src="{{ img.imagen.url }}" alt="Imagen de referencia" class="img-thumbnail" style="max-width: 200px;"> 
                    </div>
                {% empty %}
                    <p>No se subieron imágenes.</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}




