asgiref
certifi
charset-normalizer
dj-database-url
Django==5.1.4
djangorestframework
dnspython
gunicorn
idna
packaging
phonenumbers
pillow
psycopg2-binary
pymongo
python-dateutil
pytz
requests
setuptools
six
sqlparse
typing_extensions
tzdata
urllib3
whitenoise
zope.interface

# Ciencia de datos (Sin versión para evitar errores)
numpy
pandas